@import url(common.css);


#wrap{
  font-size:100%;
  font-family: 'Gowun Batang', serif;
  -webkit-text-size-adjust:100%;/* ios에서 글자크기 변경 */
  width:100%;
  color:rgb(32, 32, 32);
}
/* 아이폰에서 폼태그 버튼 모양 다르게 나올때*/
input{
	apperance: none;
	-webkit-apperance: none;
} 


/* 시작화면 */
.main{
  display:block;
  z-index:10000;
  width:100%;
  height:990px;
  background:#322fab;
  position:relative;
}
.main img{
  width:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* 메뉴 */
.nav{
    display:flex;
    flex-direction:column;
    position:fixed;
    right:0;
    top:0;
    width:60%; /* 모바일메뉴 가로폭->JQuery에서 이동 */
    height:100%;
    z-index:1000;
    background:#322fab;
}
.nav .close{
  margin:10px;
  cursor:pointer;
}
.nav_p{
  display:flex;
  justify-content:center;
}
.nav_p h1{
  text-align:center;
  position:absolute; 
  padding-top:90px;
  display:block;
  color:#fff;
  font-size:25px;
}
.nav ul{
  margin:10px;
}
.nav ul:nth-child(1){
  margin-top:100px;
  margin-bottom:30px;
}
.nav ul li{
  text-align:center;
  background:#fff;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center; 
  margin-left:30px;
  float:left;
  width:60px;
  height:120px;
  box-shadow: 3px 3px 1px #56559e;
}
.nav ul li img{width:40px;}
.nav ul li span{
  position:absolute;
  margin-top:100px;
}
.close img{width:40px;}


/* top///////////////  */
#top{
  width:100%;
  height:100px;
  background:#322fab;
}
#top ul{width:100%;}
#top ul li{
  position:absolute;
	top:20px;
  line-height:20px;
}
#top ul .menu{
	left:20px;
	text-align:left;
  cursor:pointer;
}
#top ul .logo{
	top:45px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#top ul .ring{
	right:20px;
	text-align:right;
}
#top ul li img{
  height:35px; 
}
/* 주황박스 */
.mainY{
  background:#322fab;
  height:380px;
  text-align:center;
  padding-top:90px;
}
.mainY ul{
  background:#FFB800;
  border-radius:30%;
  width:60%;
  margin:0 auto;
}
.mainY ul li{
  padding-top:20px;
  background:#fff;
  width:100%;
}
.mainY ul li:nth-child(1){  
  height:50px;
  border-radius:15px 15px 0 0;
  border:5px solid #FFB800;

}
.mainY ul li:nth-child(2){  
  height:50px;
  border:1px solid #FFB800;
  border-width:0px 5px;
}
.mainY ul li:nth-child(3){  
  height:50px;
  border-radius:0px 0px 15px 15px;
  border:5px solid #FFB800;
}
.mainY img{
  height:30px;
}
.mainY input{
  width:60%;
  height:30px;
  margin-left:20px;
  text-align:center;
  border:none;
}
.mainY .Sbtn{
  margin-top:50px;
}
.mainY a{
  width:120px;
  height:50px;
  background:#31daff;;
  border-radius: 10px;
  font-weight:bold;
  padding:10px 50px 10px 50px;
  font-size:19px;
  font-size:1.188rem;
}
/* date input tag  */
#daterange{
  color:#757575;
  font-size:12px;
}

section{
  width:90%;
  margin:30px auto;
}

#s1{
  height:200px;
  margin-bottom:20px;
}
h2{ /* 모든 h2  통일 */
  font-size:19px;
  font-size:1.188rem;
  margin-bottom: 10px;
  margin:10px 5px;
}

.box ul li{
  float:left;
  margin-right:30px; 
}
.box ul li img{
  height:100px;
}
.box h3{
  margin-top:10px;
}
.box span{padding-bottom:5px;}


.swiper-container{
  width:100%;
  margin: 5px auto;
  
}
.swiper-slide {
  text-align: center;
  font-size: 13px;
  border:1px solid #322fab;
  background:#fff;
  border-radius: 50px;
  padding:15px;
  position:relative;
}
.swiper-slide:first-of-type{
  background:#322fab;
  color:#fff;

}
.swiper-slide:last-of-type{
  background:#ccc;
  border:none;
}
.swiper-slide p{
  margin-top:19px;
  font-size:18px;
  font-size:1.125rem;
  font-weight:bold;
}

.swiper-slide h4{
  height:140px;
  margin-top:20px;
}
.swiper-slide i{
  transform: scale(2.0);
  position:absolute;
  top:70%;
/*   background:pink; */
}
.swiper-slide img{
  width:50px;
  position:absolute;
  left:40%;
  top:50%;
}

/* ===================================== */
fieldset{
  height:300px;
  border-radius:15px;
  padding: 20px;
  margin-top:20px;
  position:relative;
  font-family: 'Gowun Batang', serif;
}
fieldset img{
  margin-top:20px;
  width:140px;
}
.texts{
  float:right;
  width:120px;
  height:130px;
  margin-top:20px;
  position:relative;
}
.texts span{
  width:145px;
/*   background:yellow; */

  text-align:left;
}
.texts span:nth-of-type(2){
  position:absolute;
  text-align:center;
  display:inline-block;
}
.texts .btn{
  position:relative;
  top:30%;
  left:-40%;
  width:50px;
  text-align: center;
  background:#31daff;
  padding:5px 8px;
  border-radius: 5px;
}

fieldset h3, fieldset label{
  font-weight: bold;
}
fieldset p{
  padding-bottom:20px;
}
.texts input{
  display:block;
  margin:10px 0px;
}
.texts input[type=range]{
    -webkit-appearance: none; 
    overflow: hidden;
    width: 80%; 
    margin-left:10px;
    height: 10px;
/*     background: transparent;  */
    cursor: pointer;
    background: #e5e4e3;
    border-radius: 30px; /* iOS */
  }

  input[type=range]:focus {
    outline: none; 
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 10px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #FFB800;
    border: 0.1px solid #FFB800;
    cursor: pointer;
    border-radius: 15px;

  }

.benifit{
  font-family: 'Gowun Batang', serif;
  margin-top:20px;
  height:630px;
}

.benifit ul li{
  width:100%;
  height:130px;
  margin-top:20px;
  margin-bottom:10px;
  border-radius:15px;
  font-size:35px;
  box-shadow: 3px 3px 3px #8d8d8d;
  color:#fff;
  display:flex;
  justify-content: center;
  align-items:center;
}
.benifit ul li:nth-child(1){
  background:url(../image/R1.png) repeat center center;
}
.benifit ul li:nth-child(2){
  background:url(../image/R2.png) repeat center center;
}
.benifit ul li:nth-child(3){
  background:url(../image/R3.png) repeat top center;
}


/* footer //////////////////////////////////////*/
footer{
  font-family: 'Gowun Batang', serif;
  font-size:11px;
  font-size: 0.6875rem;
  width:100%;
  height:80px;
  background:#fff;
  border:1px solid #ccc;
  position:fixed;
  left:0;
  bottom:0;
  z-index:900; 
  display:flex;
  justify-content:center;
  justify-content:space-evenly;
  text-align: center;
}
.foot ul{
  width:360px;
  position:relative;
  margin:0 auto;
}
.foot ul li{
  float:left;
  width:90px;
  height:auto;
  margin-top:10px;
  display:flex;
  justify-content:space-around;
}
.foot ul li>a>img{
  height:20px;
}

.foot ul li>a>span{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:10px;
/*   margin-left:-10px; */
}

/*profile_______________ */
.lo{
  width:100%;
  height:350px;
  background:#322fab;
}
.lod{
  width:150px;
  height:150px;
  margin:0 auto;
  text-align: center;
  color:#fff;
  font-size:35px;
}
.lod img{
  margin-top:60px;
  width:150px;
}
.wbar{
  background:#fff;
  width:80%;
  height:150px;
  text-align: center;
  padding-top:20px;
  border-radius: 15px;
  margin:-50px auto;
  box-shadow: 5px 5px 5px #ccc;
}
.wbar p{
  margin-bottom: 20px;
  padding:10px;
}
.wbar span{
  font-weight: bold;
}
.graph .b1{/* 가장바깥 둥근테두리 */
  width:250px;
  height:15px;
  overflow:hidden;
  border:1px solid #ccc;
  border-radius:20px;
  margin:0 auto;
}

.graph .b1 div{/* 오렌지막대 */
  background:#FFB800;
  height:15px;
  border-radius:20px;
  transition:all 0.3s;
  width:160px;
}
.bot{
  margin-top:100px;
  height:930px;
  font-size:20px;
}
.bot h3{
  margin:20px 0;
}
.bot ul li{
  padding:30px 0;
}
.bot ul li img{
  margin-right:20px;
}
/* make a wish */
.ve{
  background:#322fab;
  height:220px;
}
.ve img{
  width:200px;
  margin:0 auto;
  padding:10px;
  display:flex;
}
.boc{
  height:500px;
}
.boc h4{
  text-align: center;
  font-size:18px;
  font-size: 1.125rem;
  font-weight:200;
  padding:50px 0 20px 0;
}
.boc .bo1{
  width:80%;
  height:100px;
  background:#fff;
  border-radius:5px;
  border:1px solid #322fab;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  font-size:19px;
  text-align:center;
  color:#322fab;
}
.boc .bo2{
  width:80%;
  height:30px;
  background:#fff;
  border-radius:5px;
  background:#322fab;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:10px auto;
  font-size:19px;
  text-align:center;
  color:#fff;
  padding:10px 0;
}
.rS{
  width:100%;
  height:650px;
  background:#322fab;
  margin-top:-10px;
}
.rS h2{
  padding-top:100px;
  color:#fff;
  padding-left:20px;
}
.rS p{
  padding-left:20px;
  color:#fff;
}
.rS img{
  width:120px;
  padding:30px 5px 30px 30px;
}
/* .///////////////// */
.p1{
  background:#322fab;
  width:100%;
  height:250px;
  border:1px solid #ccc;
  background:#fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;
  position:relative;
  margin-top:25px;
}

.p1 ul{
  float:right;
  width:170px;
  padding-right:15px;
  margin-top:40px;

}
.p1 ul li{
  font-size:12px;
  font-size:0.750rem;
}
.p1 ul li:nth-child(1){
  font-size:19px;
  font-size:1.1875rem;
}
.p1 ul li:nth-child(3){
  padding-top:20px;
}
.p11{
  background:#fff;
  height:40px;
  border-top:1px solid #ccc;
}
.p11 span{
  margin:20px 32px;
  display:inline-block;
}
.p11 i{
  padding-top:20px;
  float:right;
  padding-right:10px;
  font-size:20px;
}

.bbb{
  margin:100px;
}