@import url(common.css);
@import url(header.css);
@import url(footer.css);

#wrap{
  font-size:100%;
  font-family: 'Gowun Batang', serif;
  -webkit-text-size-adjust:100%;/* ios에서 글자크기 변경 */
  width:100%;
  color:rgb(32, 32, 32);
}
/* 아이폰에서 폼태그 버튼 모양 다르게 나올때*/
input{
	apperance: none;
	-webkit-apperance: none;
} 


/* 시작화면 */
.main{
  display:none;
  z-index:10000;
  width:100%;
  height:990px;
  background:#322fab;
  position:relative;
}
.main img{
  width:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* 메뉴 */
.nav{
    display:flex;
    flex-direction:column;
    position:fixed;
    right:0;
    top:0;
    width:60%; /* 모바일메뉴 가로폭->JQuery에서 이동 */
    height:100%;
    z-index:1000;
    background:#322fab;
}
.nav .close{
  margin:10px;
  cursor:pointer;
}
.nav_p{
  display:flex;
  justify-content:center;
}
.nav_p h1{
  text-align:center;
  position:absolute; 
  padding-top:90px;
  display:block;
  color:#fff;
  font-size:25px;
}
.nav ul{
  margin:10px;
}
.nav ul:nth-child(1){
  margin-top:100px;
  margin-bottom:30px;
}
.nav ul li{
  text-align:center;
  background:#fff;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center; 
  margin-left:30px;
  float:left;
  width:100px;
  height:130px;
  box-shadow: 3px 3px 10px #4b4b4b;
}
.nav ul li img{width:70px;}
.nav ul li span{
  position:absolute;
  margin-top:100px;
/*   background:gray; */
}


/* top///////////////  */
#top{
  width:100%;
  height:100px;
  background:#322fab;
}
#top ul{width:100%;}
#top ul li{
  position:absolute;
	top:20px;
  line-height:20px;
}
#top ul .menu{
	left:20px;
	text-align:left;
  cursor:pointer;
}
#top ul .logo{
	top:45px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#top ul .ring{
	right:20px;
	text-align:right;
}
#top ul li img{
  height:50px; 
}
/* 주황박스 */
.mainY{
  background:#322fab;
  height:380px;
  text-align:center;
  padding-top:90px;
}
.mainY ul{
  background:#FFB800;
  border-radius:30%;
  width:60%;
  margin:0 auto;
}
.mainY ul li{
  padding-top:20px;
  background:#fff;
  width:100%;
}
.mainY ul li:nth-child(1){  
  height:50px;
  border-radius:15px 15px 0 0;
  border:5px solid #FFB800;

}
.mainY ul li:nth-child(2){  
  height:50px;
  border:1px solid #FFB800;
  border-width:0px 5px;
}
.mainY ul li:nth-child(3){  
  height:50px;
  border-radius:0px 0px 15px 15px;
  border:5px solid #FFB800;
}
.mainY img{
  height:30px;
}
.mainY input{
  width:60%;
  height:30px;
  margin-left:20px;
  text-align:center;
  border:none;
}
.mainY .Sbtn{
  margin-top:50px;
}
.mainY a{
  width:120px;
  height:50px;
  background:#31daff;;
  border-radius: 10px;
  font-weight:bold;
  padding:10px 50px 10px 50px;
  font-size:19px;
  font-size:1.188rem;
  
}


section{
  width:90%;
  margin:30px auto;
}

#s1{
  width:90%;
  height:340px;
}
h2{ /* 모든 h2  통일 */
  font-size:19px;
  font-size:1.188rem;
  margin-bottom: 10px;
}
#s1 h2{
  margin:10px 5px;
}
.box ul li{
  float:left;
  margin-right:30px; 
}
.box h3{
  margin-top:10px;
}
.box span{padding-bottom:30px;}

#s2{
  width:100%;
  height:250px;
  overflow:hidden;
/*   background:pink; */
}
#s2 ul li{
  float:left;
}
.box1{
  width:300px;
  height:180px;
  background:#322fab;
  border-radius:50px;
  position:relative;
}
.box1 img{
  position:absolute;
  top:10%;
  left:60%;
}
#s2 ul .box1 h4{
  width:150px;
  height:100px;
  margin:60px 0 0 20px;
  color:#fff;
}
#s2 ul .box2 h4{
  width:220px;
  height:100px;
  margin:60px 0 0 20px;
}
.box2{
  margin-left:30px;
  width:260px;
  height:180px;
  border:1px solid #322fab;
  background:#fff;
  border-radius: 50px;
  position:relative;
}

.box2 p{
  font-size:18px;
  font-size:1.125rem;
  position:absolute;
  font-weight: bold;
  top:10%;
  left:10%;
  margin-bottom:100px;
}
fieldset{
  height:300px;
  border-radius:15px;
  padding: 20px;
  position:relative;

}
.texts{
  float:right;
  width:290px;
  height:150px;
/*   background:lightblue; */

  margin-top:20px;
}
.texts span{
  width:145px;
/*   background:yellow; */
  display:inline-block;
  text-align:left;
}
.texts span:nth-of-type(2){
  text-align:right;
}
.texts .btn{
  position:absolute;
  top:85%;
  left:48%;
  background:#31daff;
  padding:5px 10px;
  border-radius: 5px;
}

fieldset h3, fieldset label{
  font-size:18px;
  font-size:1.125rem;
  font-weight: bold;
}
fieldset p{
  padding-bottom:20px;
}
.texts input{
  display:block;
  margin:10px 0px;
}
.texts input[type=range]{
    -webkit-appearance: none; 
    overflow: hidden;
    width: 90%; 
    margin-left:10px;
    height: 10px;
/*     background: transparent;  */
    cursor: pointer;
    background: #e5e4e3;
    border-radius: 0px; /* iOS */
  }

  input[type=range]:focus {
    outline: none; 
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #FFB800;
    border: 0.1px solid #FFB800;
    cursor: pointer;
  }

.benifit{
  margin-top:20px;
  height:630px;
}

.benifit ul li{
  width:100%;
  height:130px;
  margin-top:20px;
  margin-bottom:10px;
  border-radius:15px;
  font-size:35px;
  box-shadow: 3px 3px 3px #8d8d8d;
  color:#fff;
  display:flex;
  justify-content: center;
  align-items:center;
}
.benifit ul li:nth-child(1){
  background:url(../image/R1.png) repeat center center;
}
.benifit ul li:nth-child(2){
  background:url(../image/R2.png) repeat center center;
}
.benifit ul li:nth-child(3){
  background:url(../image/R3.png) repeat top center;
}


/* footer //////////////////////////////////////*/
footer{
  width:100%;
  height:100px;
  background:#fff;
  border:1px solid #ccc;
  position:fixed;
  left:0;
  bottom:0;
  z-index:900; 
  display:flex;
  justify-content:center;
  justify-content:space-around;
}
.foot ul{
  position:relative;
}
.foot ul li{
  float:left;
  width:100px;
  height:auto;
  margin-top:10px;
  display:flex;
  justify-content:space-around;
}
.foot ul li>a>img{
  height:50px;
}
.foot ul li:nth-child(3)>a>img{
  margin-left:7px;
}
.foot ul li>a>span{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:10px;
}

